/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.logo {
    
    background-image: url(../img/logo2.png);
    border-radius: 100%;
    display: block;
    height:80px;
    width: 82px;
}

header {
    width: 1080px;
    height: 90px;
    background-color: black;
    
}
.logo {
    
    margin-right: 100px;
    float: left;  
}
 
.use {
    margin-left: 90px ;
}

.seconduse {
    margin-top: 5px;
    margin-left: 90px;
}

.logo {
    display: block;
    margin-left: 15px;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 28px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.top-menu {
    margin-top: 20px;
    width: 685px;
    height: 80px;
    float: left;
}

.top-menu ul li {
    
    list-style: none;
    float: left;
    text-align: center;
}

.top-menu ul li a{
    
    display: block;
    width: 171px;
    text-decoration: none;
    font-family: sans-serif;
}

.btn {
    margin-left: 20px;
    width: 171px;
    list-style: none;
    float: right;
    text-align: center;
}
